.friendslistdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #202225;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    color: whitesmoke;
    /* height: 100%; */
}

.friendslistdiv > .FriendsListTitle{
    margin-top: 8rem;
}


.ulforfriends {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 1px; */
    width: 50%;
    /* background-color: #202225; */
    padding: 10px;
    border-radius: 5px;
    color: white;
    list-style-type: none;

}

.liforfriends {
    border:0;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    width: 90%;
    margin: 5px;
    border-radius: 5px;
    background-color: #2F3136;
    padding: 2px;
    color: white;


}

.liforfriends > .linkforfriends {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 2px;
    text-decoration: none;
    background-image: radial-gradient(circle 732px at 96.2% 89.9%, rgba(70, 66, 159, 1) 0%, rgba(187, 43, 107, 1) 92%);

}

.linkforfriends:hover {
    background-color: black;
    border-radius: 5px;
    font-size: 30px;
    color: white;

}
