.outContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex: 1 1 auto;
  margin: 0px;
}

body {
  background-color: #202225;
  margin: 0px;
  height: 100vh;
}

.publicServers,
.privateServers,
.userLists {
  color: white;
  display: flex;
  width: 12%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #202225;
  overflow: hidden;
  min-height: 0;
}

/* .message-form {

} */

/* .create-message {
    TODO: Style so the box starts small and then overflows with each new line of text
} */

/* .privateServers{
    color:white;
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #202225;
    overflow: hidden;
    min-height: 0;
} */

.updateServerForm {
  margin-left: 3rem;
}

.serverChannels {
  color: white;
  width: 15%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b2d32;
}

.publicServersDisplay {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 8rem;
  height: 100%;
  border: solid transparent 1px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px; */
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.privateServersDisplay {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 8rem;
  height: 100%;
  border: solid transparent 1px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px; */
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.channelsDisplay {
  list-style-type: none;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f3136;
  margin-left: 8.5rem;
}

.singleServerDisplay {
  color: white;
  display: flex;
  flex-direction: column;
  height: 2rem;
  width: 6rem;
  margin: 1rem;
  background-color: #202225;
  justify-content: space-evenly;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.singleServerDisplay:hover {
  text-decoration: underline;
  font-size: large;
}

.singleChannelDisplay {
  color: white;
  display: flex;
  flex-direction: column;
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  background-color: #2f3136;
  justify-content: space-evenly;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.singleChannelDisplay:hover {
  text-decoration: underline;
  font-size: large;
}

.channelList {
  display: flex;
  flex-direction: row;
}

.addServerLinkContainer {
  color: white;
  background-color: #2f3136;
  height: 3rem;
  text-decoration: none;
}
