.messagesContainer {
  color: white;
  width: 100%;
  height: 85vh;
  /* 88 */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #3a3c42;
  display: inline-grid;
  overflow: scroll;
}

.container-message {
  /* background-color: aqua; */
}

.messagesDisplay {
  list-style-type: none;
  width: 250px;
  height: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  /* background-color: #2f3136; */
}

.singleMessageDisplay {
  color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 68rem;
  margin: 1rem;
  border: solid transparent 1px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px; */
  overflow: hidden;
  cursor: pointer;
}

.username {
  margin: 10px;
  padding: 5px;
}

.fa-user {
  margin-right: 5px;
}

.msg-body {
  margin-left: 20px;
}

.fa-pen-to-square {
  position: sticky;
  left: 96%;
  z-index: 3;
}

.fa-trash-can {
  position: sticky;
  left: 99%;
}

.createMessageForm {
  color: red;
  position: fixed;
  bottom: 0;
}

.create-message {
  width: 70.3vw;
  height: 5vh;
  /* overflow-y: scroll; */
  background-color: #393a3e;
  color: white;
  /* position: sticky; */
  z-index: 1;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}

.send-button {
  /* color: aqua; */
  background-color: red;
  height: 30px;
  position: fixed;
  top: 95.5%;
  right: 10%;
  background-color: white;
  cursor: pointer;
  width: 5%;
  z-index: 1;
  border-radius: 20px;
  font-weight: bold;
}

.send-button:hover {
  background-color: black;
  color: white;
}

.memberli {
  list-style-type: none;
  cursor: pointer;
  margin-right: 2rem;
  color: white;
}

.memberli1 {
  color: white;
}

.memberli1:hover {
  font-size: x-large;
}

.updateTitle {
  color: white;
}
