.messagesContainer {
  color: white;
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #3a3c42;

  /* overflow: hidden; */
}

.messagesDisplay {
  list-style-type: none;
  width: 250px;
  height: 100%;
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  /* background-color: #2f3136; */
}

.singleMessageDisplay {
  color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 68rem;
  margin: 1rem;
  border: solid transparent 1px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px; */
  overflow: hidden;
  cursor: pointer;
}

.username {
  margin: 10px;
  padding: 5px;
}

.fa-user {
  margin-right: 5px;
}

.msg-body {
  margin-left: 20px;
}

.fa-pen-to-square {
  position: sticky;
  left: 96%;
  z-index: 3;
}

.fa-trash-can {
  position: sticky;
  left: 99%;
}

.createMessageForm {
  color: red;
  position: fixed;
  bottom: 0;
}

.create-message {
  width: 62vw;
  height: 5vh;
  overflow-y: scroll;
  background-color: #393a3e;
  color: white;
}

.send-button {
  /* color: aqua; */
  /* background-color: red; */
  position: sticky;
  right: 9%;
  bottom: 2%;
  background-color: white;
  width: 30px;
}

/* .memberli{
  list-style-type: none;
  cursor: pointer;
  margin-right: 2rem;
  color:white;

}

.memberli1{
  color:white
} */

.memberli1:hover{
  font-size: x-large;
}



.updateTitle{
  color:white;
}
