.createChannelBtn {
  font-family: "Roboto", sans-serif;
  border-radius: 7px;
  background-color: white;
  cursor: pointer;
}

.createChannelBtn {
  color: white;
  border-radius: 8px;
  height: 2rem;
  border: none;

  background-image: radial-gradient(
    circle 732px at 96.2% 89.9%,
    rgba(70, 66, 159, 1) 0%,
    rgba(187, 43, 107, 1) 92%
  );
}

.err {
  list-style-type: none;
  font-size: small;
}

.createChanneForm {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}
